workflows/02-evening-checkin.json
{
  "name": "Evening Check-in (9pm)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-9pm",
      "name": "Every Day at 9pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "notes": "Triggers every day at 9:00 PM local time"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "filterType": "string",
        "filterString": "=date=eq.{{ $now.format('yyyy-MM-dd') }}",
        "tableId": {
          "__rl": true,
          "value": "food_logs",
          "mode": "list"
        }
      },
      "id": "fetch-todays-food",
      "name": "Fetch Today's Food",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "filterType": "string",
        "filterString": "=date=eq.{{ $now.format('yyyy-MM-dd') }}",
        "tableId": {
          "__rl": true,
          "value": "daily_summaries",
          "mode": "list"
        }
      },
      "id": "fetch-todays-steps",
      "name": "Fetch Today's Steps",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        420,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the evening check-in message\nconst meals = $('Fetch Today\\'s Food').all().map(i => i.json);\nconst stepData = $('Fetch Today\\'s Steps').first()?.json || {};\n\nlet totalCal = 0, totalProtein = 0, totalCarbs = 0, totalFat = 0;\nfor (const m of meals) {\n  totalCal += m.calories || 0;\n  totalProtein += parseFloat(m.protein_g) || 0;\n  totalCarbs += parseFloat(m.carbs_g) || 0;\n  totalFat += parseFloat(m.fat_g) || 0;\n}\n\nconst today = new Date();\nconst dayOfWeek = today.getDay();\nconst isTrainingDay = [1, 3, 5].includes(dayOfWeek);\nconst goal = isTrainingDay ? 2100 : 1900;\nconst steps = stepData.steps || 0;\n\nconst foodSummary = meals.length > 0\n  ? `You logged ${meals.length} meals today: ${totalCal} kcal, ${Math.round(totalProtein)}g protein`\n  : 'No food logged today!';\n\nconst calStatus = totalCal > 0 && totalCal <= goal + 100 ? '\u2705' : '\u26a0\ufe0f';\nconst proteinStatus = totalProtein >= 140 ? '\u2705' : '\u26a0\ufe0f';\nconst stepStatus = steps >= 10000 ? '\u2705' : `${steps.toLocaleString()} so far`;\n\nconst message = `Hey! Time for your evening check-in.\n\n\ud83d\udcca Today's numbers:\n${calStatus} Calories: ${totalCal} / ${goal} kcal\n${proteinStatus} Protein: ${Math.round(totalProtein)} / 170g\n\ud83d\udc5f Steps: ${stepStatus}\n\nWhich of these did you do today?\n\u2022 \ud83d\ude34 Sleep (8 hours last night?)\n\u2022 \ud83d\udcaa Workout\n\u2022 \ud83d\udcd6 Read/Learn 30 min\n\u2022 \ud83d\udc8a Supplements\n\u2022 \ud83d\udcc5 Calendar & Reflection\n\u2022 \ud83d\ude4f Positivity/Gratefulness\n\nJust reply with what you did. I'll log everything.`;\n\nreturn [{\n  json: {\n    message,\n    totalCal,\n    totalProtein: Math.round(totalProtein * 10) / 10,\n    totalCarbs: Math.round(totalCarbs * 10) / 10,\n    totalFat: Math.round(totalFat * 10) / 10,\n    isTrainingDay,\n    goal,\n    mealCount: meals.length,\n    steps\n  }\n}];"
      },
      "id": "build-checkin-message",
      "name": "Build Check-in Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "6023241557",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-checkin",
      "name": "Send Check-in",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Set TELEGRAM_CHAT_ID in n8n Settings > Environment Variables, or replace the expression with your chat ID"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "6023241557",
            "state": "awaiting_checkin",
            "context": "={{ JSON.stringify({ totalCal: $json.totalCal, totalProtein: $json.totalProtein, totalCarbs: $json.totalCarbs, totalFat: $json.totalFat, isTrainingDay: $json.isTrainingDay, goal: $json.goal, mealCount: $json.mealCount, steps: $json.steps }) }}",
            "updated_at": "={{ $now.toISO() }}"
          }
        },
        "conflictColumns": "chat_id",
        "tableId": {
          "__rl": true,
          "value": "conversation_state",
          "mode": "list"
        }
      },
      "id": "set-awaiting-state",
      "name": "Set Awaiting State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      },
      "notes": "Sets conversation state to 'awaiting_checkin' so WF01 (unified Telegram handler) knows the next message is a check-in reply, not a food log"
    }
  ],
  "connections": {
    "Every Day at 9pm": {
      "main": [
        [
          {
            "node": "Fetch Today's Food",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Today's Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Food": {
      "main": [
        [
          {
            "node": "Build Check-in Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Steps": {
      "main": [
        [
          {
            "node": "Build Check-in Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check-in Message": {
      "main": [
        [
          {
            "node": "Send Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Check-in": {
      "main": [
        [
          {
            "node": "Set Awaiting State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "habit-tracker"
    }
  ]
}