workflows/03-steps-webhook.json
{
  "name": "Apple Health Steps Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "steps",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2bc8cfe1-fe61-4dfc-a62a-5e9e8d0d4a6b",
      "name": "Steps Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "notes": "Receives step count from iOS Shortcut. POST to /webhook/steps with JSON body: { \"steps\": 12345, \"date\": \"2026-03-12\" }"
    },
    {
      "parameters": {
        "jsCode": "const steps = $json.body?.steps || $json.query?.steps || 0;\nconst date = $json.body?.date || new Date().toISOString().split('T')[0];\nconst hit10k = steps >= 10000;\n\nreturn [{ json: { steps: parseInt(steps), date, hit10k } }];"
      },
      "id": "1df1a7ca-b8f8-4a7e-b007-223b6c2949c6",
      "name": "Parse Step Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "steps": "={{ $json.steps }}",
            "steps_10k": "={{ $json.hit10k }}"
          }
        },
        "tableId": {
          "__rl": true,
          "value": "daily_summaries",
          "mode": "name"
        },
        "upsertKeys": [
          "date"
        ]
      },
      "id": "30cb8eaa-b49d-4cd3-aa44-b63ed9fb290e",
      "name": "Save Steps to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"steps\": {{ $node['Parse Step Data'].json.steps }}, \"hit_10k\": {{ $node['Parse Step Data'].json.hit10k }} }"
      },
      "id": "83e7d55a-fac0-4437-9aff-5e5d9141cbb4",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Steps Webhook": {
      "main": [
        [
          {
            "node": "Parse Step Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Step Data": {
      "main": [
        [
          {
            "node": "Save Steps to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Steps to Supabase": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "habit-tracker"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}