workflows/04-weekly-recap.json
{
  "name": "Weekly Recap (Sunday Evening)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 0,
              "triggerAtHour": 20,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-sunday",
      "name": "Every Sunday at 8pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Triggers every Sunday at 8:00 PM for weekly recap"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "value": "public" },
        "table": { "value": "daily_summaries" },
        "filterType": "string",
        "filterString": "=date=gte.{{ $now.minus({days: 6}).format('yyyy-MM-dd') }}&date=lte.{{ $now.format('yyyy-MM-dd') }}"
      },
      "id": "fetch-week-summaries",
      "name": "Fetch Week Summaries",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [420, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "value": "public" },
        "table": { "value": "food_logs" },
        "filterType": "string",
        "filterString": "=date=gte.{{ $now.minus({days: 6}).format('yyyy-MM-dd') }}&date=lte.{{ $now.format('yyyy-MM-dd') }}"
      },
      "id": "fetch-week-food",
      "name": "Fetch Week Food Logs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [420, 400],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compile weekly stats from daily summaries and food logs\nconst summaries = $('Fetch Week Summaries').all().map(i => i.json);\nconst foods = $('Fetch Week Food Logs').all().map(i => i.json);\n\nconst days = summaries.length || 1;\n\n// Food averages\nconst totalCal = foods.reduce((s, f) => s + (f.calories || 0), 0);\nconst totalProtein = foods.reduce((s, f) => s + (parseFloat(f.protein_g) || 0), 0);\nconst totalCarbs = foods.reduce((s, f) => s + (parseFloat(f.carbs_g) || 0), 0);\nconst totalFat = foods.reduce((s, f) => s + (parseFloat(f.fat_g) || 0), 0);\nconst totalFiber = foods.reduce((s, f) => s + (parseFloat(f.fiber_g) || 0), 0);\n\n// Habit completions\nconst habits = {\n  sleep: summaries.filter(s => s.sleep_8h).length,\n  eat: summaries.filter(s => s.eat_healthy).length,\n  workout: summaries.filter(s => s.workout_done).length,\n  steps: summaries.filter(s => s.steps_10k).length,\n  read: summaries.filter(s => s.read_30min).length,\n  supplements: summaries.filter(s => s.supplements).length,\n  positivity: summaries.filter(s => s.positivity).length,\n  reflection: summaries.filter(s => s.calendar_reflection).length\n};\n\n// Steps\nconst totalSteps = summaries.reduce((s, d) => s + (d.steps || 0), 0);\nconst avgSteps = Math.round(totalSteps / days);\nconst daysWithTenKSteps = summaries.filter(s => s.steps_10k).length;\n\n// Average habit percentage per day\nconst dailyPercentages = summaries.map(s => {\n  const checked = [s.sleep_8h, s.eat_healthy, s.workout_done, s.steps_10k, s.read_30min, s.supplements, s.positivity, s.calendar_reflection].filter(Boolean).length;\n  return (checked / 8) * 100;\n});\nconst avgHabitPercentage = dailyPercentages.length > 0\n  ? (dailyPercentages.reduce((a, b) => a + b, 0) / dailyPercentages.length).toFixed(2)\n  : '0.00';\n\n// Food quality breakdown\nconst qualityCounts = { clean: 0, decent: 0, processed: 0, junk: 0 };\nfor (const f of foods) {\n  if (f.food_quality && qualityCounts[f.food_quality] !== undefined) {\n    qualityCounts[f.food_quality]++;\n  }\n}\n\n// Best and worst days\nlet bestDay = null, worstDay = null, bestPct = -1, worstPct = 101;\nfor (const s of summaries) {\n  const checked = [s.sleep_8h, s.eat_healthy, s.workout_done, s.steps_10k, s.read_30min, s.supplements, s.positivity, s.calendar_reflection].filter(Boolean).length;\n  const pct = (checked / 8) * 100;\n  if (pct > bestPct) { bestPct = pct; bestDay = s.date; }\n  if (pct < worstPct) { worstPct = pct; worstDay = s.date; }\n}\n\nconst weekData = {\n  days,\n  avgDailyCal: Math.round(totalCal / days),\n  avgDailyProtein: (totalProtein / days).toFixed(1),\n  avgDailyCarbs: (totalCarbs / days).toFixed(1),\n  avgDailyFat: (totalFat / days).toFixed(1),\n  avgDailyFiber: (totalFiber / days).toFixed(1),\n  totalCal,\n  totalSteps,\n  avgSteps,\n  daysWithTenKSteps,\n  avgHabitPercentage,\n  habits,\n  qualityCounts,\n  bestDay, worstDay, bestPct, worstPct,\n  totalMeals: foods.length\n};\n\n// Build prompt for Claude\nconst prompt = `Generate a weekly fitness & nutrition recap based on this data. Be blunt and actionable.\n\nWEEK DATA (${days} days tracked):\n- Avg daily calories: ${weekData.avgDailyCal} kcal (goal: ~1900-2100)\n- Avg daily protein: ${weekData.avgDailyProtein}g (goal: 170g)\n- Avg daily carbs: ${weekData.avgDailyCarbs}g\n- Avg daily fat: ${weekData.avgDailyFat}g\n- Avg daily fiber: ${weekData.avgDailyFiber}g\n- Total meals: ${weekData.totalMeals}\n- Food quality: ${qualityCounts.clean} clean, ${qualityCounts.decent} decent, ${qualityCounts.processed} processed, ${qualityCounts.junk} junk\n\nACTIVITY:\n- Total steps: ${totalSteps} (avg ${avgSteps}/day)\n- Days with 10k+ steps: ${daysWithTenKSteps}/${days}\n- Workouts: ${habits.workout}/week\n\nHABIT COMPLETION (out of ${days} days):\n- Sleep 8h: ${habits.sleep}/${days}\n- Eat healthy: ${habits.eat}/${days}\n- Workout: ${habits.workout}/${days}\n- 10k steps: ${habits.steps}/${days}\n- Read 30min: ${habits.read}/${days}\n- Supplements: ${habits.supplements}/${days}\n- Positivity: ${habits.positivity}/${days}\n- Calendar/Reflection: ${habits.reflection}/${days}\n- Average daily habit score: ${avgHabitPercentage}%\n\nBest day: ${bestDay} (${bestPct}%) | Worst day: ${worstDay} (${worstPct}%)\n\nProvide:\n1. One-paragraph blunt assessment\n2. Top 3 specific improvements for next week\n3. One thing done well to keep doing\n\nKeep it under 200 words. Telegram format.`;\n\nreturn [{ json: { weekData, prompt } }];"
      },
      "id": "compile-week-stats",
      "name": "Compile Week Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a blunt, no-BS fitness coach providing weekly recaps. Be specific and actionable. Reference actual numbers. Don't sugarcoat.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}"
      },
      "id": "claude-weekly-recap",
      "name": "Claude - Weekly Recap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "value": "public" },
        "table": { "value": "weekly_recaps" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_start": "={{ $now.minus({days: 6}).format('yyyy-MM-dd') }}",
            "week_end": "={{ $now.format('yyyy-MM-dd') }}",
            "avg_daily_calories": "={{ $node['Compile Week Stats'].json.weekData.avgDailyCal }}",
            "avg_daily_protein_g": "={{ $node['Compile Week Stats'].json.weekData.avgDailyProtein }}",
            "avg_daily_carbs_g": "={{ $node['Compile Week Stats'].json.weekData.avgDailyCarbs }}",
            "avg_daily_fat_g": "={{ $node['Compile Week Stats'].json.weekData.avgDailyFat }}",
            "total_week_calories": "={{ $node['Compile Week Stats'].json.weekData.totalCal }}",
            "total_steps": "={{ $node['Compile Week Stats'].json.weekData.totalSteps }}",
            "avg_daily_steps": "={{ $node['Compile Week Stats'].json.weekData.avgSteps }}",
            "days_with_10k_steps": "={{ $node['Compile Week Stats'].json.weekData.daysWithTenKSteps }}",
            "workouts_completed": "={{ $node['Compile Week Stats'].json.weekData.habits.workout }}",
            "sleep_completion": "={{ $node['Compile Week Stats'].json.weekData.habits.sleep }}",
            "eat_healthy_completion": "={{ $node['Compile Week Stats'].json.weekData.habits.eat }}",
            "workout_completion": "={{ $node['Compile Week Stats'].json.weekData.habits.workout }}",
            "read_completion": "={{ $node['Compile Week Stats'].json.weekData.habits.read }}",
            "supplement_completion": "={{ $node['Compile Week Stats'].json.weekData.habits.supplements }}",
            "positivity_completion": "={{ $node['Compile Week Stats'].json.weekData.habits.positivity }}",
            "steps_completion": "={{ $node['Compile Week Stats'].json.weekData.daysWithTenKSteps }}",
            "avg_habit_percentage": "={{ $node['Compile Week Stats'].json.weekData.avgHabitPercentage }}",
            "best_day": "={{ $node['Compile Week Stats'].json.weekData.bestDay }}",
            "worst_day": "={{ $node['Compile Week Stats'].json.weekData.worstDay }}",
            "ai_weekly_summary": "={{ $json.content[0].text }}"
          }
        }
      },
      "id": "save-weekly-recap",
      "name": "Save Weekly Recap",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1080, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📊 WEEKLY RECAP\n\n{{ $node['Claude - Weekly Recap'].json.content[0].text }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-recap",
      "name": "Send Weekly Recap",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 400],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Set TELEGRAM_CHAT_ID in n8n Settings > Environment Variables, or replace the expression with your chat ID"
    }
  ],
  "connections": {
    "Every Sunday at 8pm": {
      "main": [
        [
          { "node": "Fetch Week Summaries", "type": "main", "index": 0 },
          { "node": "Fetch Week Food Logs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Week Summaries": {
      "main": [[{ "node": "Compile Week Stats", "type": "main", "index": 0 }]]
    },
    "Fetch Week Food Logs": {
      "main": [[{ "node": "Compile Week Stats", "type": "main", "index": 0 }]]
    },
    "Compile Week Stats": {
      "main": [[{ "node": "Claude - Weekly Recap", "type": "main", "index": 0 }]]
    },
    "Claude - Weekly Recap": {
      "main": [
        [
          { "node": "Save Weekly Recap", "type": "main", "index": 0 },
          { "node": "Send Weekly Recap", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "habit-tracker" }]
}
